<div class="panel panel-default" *ngIf="message.sender">
    <div class="panel-body">
        <div class="messageImage pull-left">
            <img src="assets/no-new-messages-icon.jpg" class="defaultImage" *ngIf="message.read =='true'"/>
            <img src="assets/letter-icon.jpg" class="defaultImage" *ngIf="message.read =='false'"/>
        </div>
        <div class="userName pull-left">
            <p class="nameAndSurname">
                <!-- Show USER DATA depending on mode-->
                <!-- MODE RECEIVED  show sender data -->
                <span *ngIf="mode == 'received'">
                    <span class="glyphicon glyphicon-user"> </span>
                    <a [routerLink]="['/profile', message.sender._id]">
                        {{message.sender.name + ' ' + message.sender.surname}}
                    </a>
                    &nbsp;|&nbsp;
                    <span class="userNickname">
                        {{message.sender.nickname}}
                    </span>
                </span>
                <!-- MODE SENT  show receiver data -->
                <span *ngIf="mode == 'sent'">
                    <span class="glyphicon glyphicon-user"> </span>
                    Sent to:
                    <a [routerLink]="['/profile', message.receiver._id]">
                        {{message.receiver.name + ' ' + message.receiver.surname}}
                    </a>
                    &nbsp;|&nbsp;
                    <span class="userNickname">
                        {{message.receiver.nickname}}
                    </span>
                </span>
                <!-- END SHOW USER DATA-->
                &nbsp;|&nbsp;
                <span class="date">
                    {{ ( message.created_at | amFromUnix ) | amTimeAgo }}
                </span>
            </p>
            <p>
                <span class="glyphicon glyphicon-envelope"> </span>
                <span class="messageText">{{message.text.slice(0,12)}} ...</span>
            </p>
        </div>
        <!-- View button -->
        <!-- Show Watch message button -->
        <div id="viewMessage" class="pull-right" >
            
            &nbsp;
            <!-- Button HTML (to Trigger Modal) -->
            <!-- href id is associated to the first hit publication -->
            <!-- unless we change the href id by concatenating the publication id-->
            <!-- MODE RECEIVED BUTTON (marks as read the message upon push) -->
            <a href="#myModal{{message._id}}" role="button" class="btn btn-large btn-primary"
            data-toggle="modal" (click)="markAsRead()" *ngIf="mode == 'received'">
                <span class="glyphicon glyphicon-eye-open"></span> Read
            </a>
            <!--MODE SENT button (no event click, just trigger modal -->
            <a href="#myModal{{message._id}}" role="button" class="btn btn-large btn-primary"
            data-toggle="modal" *ngIf="mode == 'sent'">
                 Read
            </a>

            &nbsp;

            <!-- Modal HTML -->
            <div id="myModal{{message._id}}" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button 
                                type="button" 
                                class="close" 
                                data-dismiss="modal"
                                arial-hidden="true"
                            >
                                &times;
                            </button>
                            <h4 class="modal-title">{{title}}</h4>
                        </div>
                        <div class="modal-body">
                            <!-- Show USER data depending on mode -->
                            <!-- MODE RECEIVED show sender data -->
                            <p class="nameAndSurname" *ngIf="mode == 'received'">
                                <span class="glyphicon glyphicon-user"> </span>
                                <a [routerLink]="['/profile', message.sender._id]"
                                data-dismiss="modal">
                                    {{message.sender.name + ' ' + message.sender.surname}}
                                </a>
                                &nbsp;|&nbsp;
                                <span class="userNickname">
                                        {{message.sender.nickname}}
                                </span>
                                &nbsp;|&nbsp;
                                <span class="date">
                                    {{ ( message.created_at | amFromUnix ) | amLocale:'en' | amDateFormat:'MMMM Do YYYY, h:mm:ss a' }}
                                </span>
                            </p>
                            <!-- MODE SENT show receiver data -->
                            <p class="nameAndSurname" *ngIf="mode == 'sent'">
                                <span class="glyphicon glyphicon-user"> </span>
                                Sent to: 
                                <a [routerLink]="['/profile', message.receiver._id]"
                                data-dismiss="modal">
                                    {{message.receiver.name + ' ' + message.receiver.surname}}
                                </a>
                                &nbsp;|&nbsp;
                                <span class="userNickname">
                                        {{message.receiver.nickname}}
                                </span>
                                &nbsp;|&nbsp;
                                <span class="date">
                                    {{ ( message.created_at | amFromUnix ) | amLocale:'en' | amDateFormat:'MMMM Do YYYY, h:mm:ss a' }}
                                </span>
                            </p>
                            <!-- END SHOW USER data -->
                            <div class="messageBody">
                                <p class="messageText">{{message.text}}</p>
                            </div>
                            <p class="text-warning" *ngIf="mode == 'sent' && message.read =='false'">
                                <small>The user has not read yet your message</small>
                            </p>
                            <p class="text-warning" *ngIf="mode == 'sent' && message.read =='true'">
                                <small>The user has read your message</small>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button
                                type="button"
                                class="btn btn-default"
                                data-dismiss="modal"
                            >
                                Close
                            </button>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal -->
        </div>
        
    </div> 
</div>