<div class="navigation col-lg-12">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      
      <div class="navbar-header">
        <a href="#" class="navbar-brand">{{title}}</a>

      </div>

      <ul class="nav navbar-nav" *ngIf="identity">
        <li>
          <a [routerLink]="['/home']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-home"></span>
            Start
          </a>
        </li>

        <li>
          <a href="#">
            <span class="glyphicon glyphicon-th-list"></span>
            Timeline
          </a>
        </li>

        <li>
          <a href="#">
            <span class="glyphicon glyphicon-user"></span>
            Community
          </a>
        </li>

      </ul>

      <ul class="nav navbar navbar-nav navbar-right" *ngIf="!identity">
        <li>
          <a [routerLink]="['/login']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-log-in"></span>
            Login
          </a>
        </li>

        <li>
          <a [routerLink]="['/register']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-user"></span>
            Register
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" *ngIf="identity">
        <li class="avatar">
          <!-- load user's image-->
          <img src="{{url + 'users/downloadImg/' + identity.image}}" *ngIf="identity && identity.image" />
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            {{identity.name}} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-user"></span>
                My profile
              </a>
            </li>
            <li>
              <a [routerLink]="['/editProfile']" [routerLinkActive]="['active']">
                <span class="glyphicon glyphicon-cog"></span>
                Edit my data
              </a>
            </li>
            <li>
              <a class="pointer" (click)="logout()">
                <span class="glyphicon glyphicon-log-out"></span>
                Close session
              </a>
            </li>
          </ul>
        </li>
      </ul>



    </div>
  </nav>
</div>

<router-outlet></router-outlet>