<div class="col-lg-10" *ngIf="!loading">
    <h3>{{title}}</h3>

    <!-- Received messages list -->
    <div class="followedUsers" *ngIf="messages">

        <!-- Listing messages received by the user -->
        <div *ngFor="let message of messages" class="itemMessage">
            <message [message]="message" [mode]="'received'" ></message>
        </div>

        <!-- Paginated Navigation -->
        <ul class="pagination pull-right">
            <li *ngIf="page > 1">
                <a [routerLink]="['/messages/received', prevPage]">Previous</a>
            </li>
            <li *ngIf="pages != page && pages != 0">
                <a [routerLink]="['/messages/received', nextPage]">Next</a>
            </li>
        </ul>
    </div>
</div>

<!-- Loading bar -->
<div class="col-lg-12 loadWindow" *ngIf="loading">
    <div class="loader"></div>   
</div>