<div class="col-lg-10">
    <h3>{{title}}</h3>

    <!-- Received messages list -->
    <div class="followedUsers" *ngIf="messages">

        <!-- Listing messages received by the user -->
        <div *ngFor="let message of messages" class="itemMessage">
            <div class="panel panel-default" *ngIf="message.sender">
                <div class="panel-body">
                    <div class="messageImage pull-left">
                        <img src="assets/no-new-messages-icon.jpg" class="defaultImage" *ngIf="message.read =='true'"/>
                        <img src="assets/letter-icon.jpg" class="defaultImage" *ngIf="message.read =='false'"/>
                    </div>
                    <div class="userName pull-left">
                        <p class="nameAndSurname">
                            <span class="glyphicon glyphicon-user"> </span>
                            <a [routerLink]="['/profile', message.sender._id]">
                                {{message.sender.name + ' ' + message.sender.surname}}
                            </a>
                            &nbsp;|&nbsp;
                            <span class="userNickname">
                                    {{message.sender.nickname}}
                            </span>
                            &nbsp;|&nbsp;
                            <span class="date">
                                {{ ( message.created_at | amFromUnix ) | amTimeAgo }}
                            </span>
                        </p>
                        <p>
                            <span class="glyphicon glyphicon-envelope"> </span>
                            <span class="messageText">{{message.text.slice(0,12)}} ...</span>
                        </p>
                    </div>
                    <!-- View button -->
                    <!-- Show Watch message button -->
                    <div id="viewMessage" class="pull-right" >
                        
                        &nbsp;
                        <!-- Button HTML (to Trigger Modal) -->
                        <!-- href id is associated to the first hit publication -->
                        <!-- unless we change the href id by concatenating the publication id-->
                        <a href="#myModal{{message._id}}" role="button" class="btn btn-large btn-primary"
                        data-toggle="modal" (click)="markAsRead(message._id, message.read)">
                            <span class="glyphicon glyphicon-eye-open"></span> Read
                        </a>

                        &nbsp;

                        <!-- Modal HTML -->
                        <div id="myModal{{message._id}}" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button 
                                            type="button" 
                                            class="close" 
                                            data-dismiss="modal"
                                            arial-hidden="true"
                                        >
                                            &times;
                                        </button>
                                        <h4 class="modal-title">MESSAGE</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p class="nameAndSurname">
                                            <span class="glyphicon glyphicon-user"> </span>
                                            <a [routerLink]="['/profile', message.sender._id]"
                                            data-dismiss="modal">
                                                {{message.sender.name + ' ' + message.sender.surname}}
                                            </a>
                                            &nbsp;|&nbsp;
                                            <span class="userNickname">
                                                    {{message.sender.nickname}}
                                            </span>
                                            &nbsp;|&nbsp;
                                            <span class="date">
                                                {{ ( message.created_at | amFromUnix ) | amLocale:'en' | amDateFormat:'MMMM Do YYYY, h:mm:ss a' }}
                                            </span>
                                        </p>
                                        <p>{{message.text}}</p>
                                        <p class="text-warning"><small>The publication will be permanently removed</small></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button
                                            type="button"
                                            class="btn btn-default"
                                            data-dismiss="modal"
                                        >
                                            Close
                                        </button>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Modal -->
                    </div>
                    
                </div> 
            </div>
        </div>

        <!-- Paginated Navigation -->
        <ul class="pagination pull-right">
            <li *ngIf="page > 1">
                <a [routerLink]="['/messages/received', prevPage]">Previous</a>
            </li>
            <li *ngIf="pages != page">
                <a [routerLink]="['/messages/received', nextPage]">Next</a>
            </li>
        </ul>
    </div>
</div>