<div class="col-lg-10">
    <h3>{{title}}</h3>

    <!-- Sent messages list -->
    <div class="followedUsers" *ngIf="messages">

        <!-- Listing messages sent by the user -->
        <div *ngFor="let message of messages" class="itemMessage">
            <message [message]="message" [mode]="'sent'" ></message>
        </div>
        
        <!-- Paginated Navigation -->
        <ul class="pagination pull-right">
            <li *ngIf="page > 1">
                <a [routerLink]="['/messages/sent', prevPage]">Previous</a>
            </li>
            <li *ngIf="pages != page">
                <a [routerLink]="['/messages/sent', nextPage]">Next</a>
            </li>
        </ul>
    </div>
</div>