<div class="col-lg-8">
    <h1 class="h1-strong">{{title}}</h1>

    <div class="communityUsers">
        <!-- Listing Community Users -->
        <div *ngFor="let user of users" class="itemUser">
            <user [user]="user" [followedUser]="followedUsers.indexOf(user._id) < 0 ? false : true"></user>
        </div>

        <!-- Paginated Navigation -->
        <ul class="pagination pull-right">
            <li *ngIf="page > 1">
                <a [routerLink]="['/community', prevPage]">Previous</a>
            </li>
            <li *ngIf="pages != page">
                <a [routerLink]="['/community', nextPage]">Next</a>
            </li>
        </ul>
    </div>
    
</div>
<sidebar></sidebar>
<!-- clear the floating so that sidebar is rendered in the lateral instead of bottom -->
<div class="clearfix"></div>