<div class="col-lg-8">
    <h1 class="h1-strong">
        {{title}}

        <button class="btn btn-success btn-sm" (click)="refresh($event)">
            Show latest
        </button>
    </h1>

    
    <div id="publications">
        <div *ngFor="let publication of publications" class="item-publication">
            <div class="panel panel-default">
                <div class="panel-body">
    
                    <div class="userImage pull-left">
                        <a href='#'>
                            <img src="{{url + 'users/downloadImg/' + publication.user.image}}" 
                            *ngIf="publication.user.image"/>
                            <img src="assets/user.jpg" class="defaultImage" 
                            *ngIf="!publication.user.image"/>
                        </a>       
                    </div>
    
                    <div>
                        <a [routerLink]="['/profile', publication.user._id]" class="userName">
                            {{publication.user.name + ' ' + publication.user.surname}}
                        </a>
                        &nbsp;|&nbsp;
                        <span class="date">
                            {{ ( publication.created_at | amFromUnix ) | amTimeAgo }}
                        </span>
                    </div>
    
                    <h4 class="publicationText pull-left">
                        {{publication.text}}
                    </h4>

                    <!-- Show delete button -->
                    <div class="pull-right" *ngIf="publication.user._id == identity._id">
                        
                        &nbsp;
                        <!-- Button HTML (to Trigger Modal) -->
                        <!-- href id is associated to the first hit publication -->
                        <!-- unless we change the href id by concatenating the publication id-->
                        <a href="#myModal{{publication._id}}" role="button" class="btn btn-large btn-danger"
                        data-toggle="modal" *ngIf="showImage != publication._id">
                            <span class="glyphicon glyphicon-trash"> </span>
                        </a>
                        &nbsp;

                        <!-- Modal HTML -->
                        <div id="myModal{{publication._id}}" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button 
                                            type="button" 
                                            class="close" 
                                            data-dismiss="modal"
                                            arial-hidden="true"
                                        >
                                            &times;
                                        </button>
                                        <h4 class="modal-title">Confirmation</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to eliminate this publication?</p>
                                        <p>{{publication.text}}</p>
                                        <p class="text-warning"><small>The publication will be permanently removed</small></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button
                                            type="button"
                                            class="btn btn-default"
                                            data-dismiss="modal"
                                        >
                                            Cancel
                                        </button>
                                        <button
                                            type="button"
                                            class="btn btn-primary"
                                            (click)="deletePublication(publication._id)"
                                            data-dismiss="modal"
                                        >
                                            Delete this publication
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Modal -->
                    </div>

                    <!-- show/hide image button -->
                    <div class="pull-right" *ngIf="publication.file != ''">
                        <!-- show -->
                        <button 
                            class="btn btn-warning pull-right"
                            (click)="showPublicationImage(publication._id)"
                            *ngIf="showImage != publication._id"
                         >
                            <span class="glyphicon glyphicon-picture"> </span>
                        </button>
                        <!-- hide -->
                        <button 
                            class="btn btn-danger pull-right"
                            (click)="hidePublicationImage(publication._id)"
                            *ngIf="showImage == publication._id"
                         >
                            <span class="glyphicon glyphicon-remove-circle"> </span>
                        </button>
                    </div>
                    
                    <!-- attached image if any assigned -->
                    <div class="col-lg-12" *ngIf="publication.file != '' && showImage == publication._id">
                        <br/>
                        <img 
                            class="col-lg-12"
                            src="{{url + 'publications/downloadImg/' + publication.file}}" 
                        />

                    </div>
                </div>
                
            </div>
        </div>
    
    </div>
    
    <div class="lg-col-12 text-center">
        <p>
            <button class="btn btn-success" (click)="showMore()" *ngIf="!reachedEnd">
                Show more publications
            </button>
        </p>   
    </div>

</div>

<sidebar (sent)="refresh($event)"></sidebar>

<div class="clearfix"></div>