<div class="col-lg-8">
    <h1 class="h1-strong">
        {{title}}

        <button class="btn btn-success btn-sm" (click)="refresh($event)">
            Show latest
        </button>
    </h1>

    
    <div id="publications">
        <div *ngFor="let publication of publications" class="item-publication">
            <div class="panel panel-default">
                <div class="panel-body">
    
                    <div class="userImage pull-left">
                        <a href='#'>
                            <img src="{{url + 'users/downloadImg/' + publication.user.image}}" 
                            *ngIf="publication.user.image"/>
                            <img src="assets/user.jpg" class="defaultImage" 
                            *ngIf="!publication.user.image"/>
                        </a>       
                    </div>
    
                    <div>
                        <a [routerLink]="['/profile', publication.user._id]" class="userName">
                            {{publication.user.name + ' ' + publication.user.surname}}
                        </a>
                        &nbsp;|&nbsp;
                        <span class="date">
                            {{ ( publication.created_at | amFromUnix ) | amTimeAgo }}
                        </span>
                    </div>
    
                    <h4 class="publicationText pull-left">
                        {{publication.text}}
                    </h4>
                </div>
                
            </div>
        </div>
    
    </div>
    
    <div class="lg-col-12 text-center">
        <p>
            <button class="btn btn-success" (click)="showMore()" *ngIf="!reachedEnd">
                Show more publications
            </button>
        </p>   
    </div>

</div>

<sidebar (sent)="refresh($event)"></sidebar>

<div class="clearfix"></div>