/* GENERIC */
.h1-strong {
    font-size: 35px;
    font-weight: bold;
    margin-left: 13px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.active {
    background: #9c1111;
}

.pointer{
    cursor: pointer;
}

/* HEADER */
.navigation {
    padding: 0px !important; 
}

.navigation .navbar {
    border-radius: 0px !important;
    background: #bd2020 !important;
    border: none;  
}

.navigation .navbar *{
    color: white !important;
}

.navigation .navbar a:hover{
    background: #9c1111 !important;
}

.navigation .navbar .dropdown-menu *{
    color: black !important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus{
    background: #9c1111 !important;
} 

.navigation .navbar .dropdown-menu a:hover{
    background: #eee !important;
}

.navigation .avatar{
    width: 35px;
    height: 35px;
    border-radius: 100px;
    overflow: hidden;
    margin-top: 9px;
    margin-right: 2px;
}

.navigation .avatar img{
    height: auto;
    width: 38px;
}

.jumbotron{
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}

/* COMMUNITY SECTION */
.itemUser .userImage{
    width: 75px;
    height: 75px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 15px;
}

.itemUser .userImage img{
    width: 120px;
}

.itemUser .userName{
    margin-top: 10px;
}

.itemUser .userName .userNickname{
    color: #969393;
}

.itemUser .userName .nameAndSurname{
    color: #555;
    font-weight: bold;
}

.defaultImage{
    width: 100% !important;
}

/* SIDEBAR */

.sidebar-32{
    width: 32% !important;
    padding: 0px !important;
}

#userCard, #newPublication{
    padding: 25px;
    width: 32%;
}

#newPublication{
    padding: 18px;
    padding-left: 10px;
}

#userCard .avatar{
    width: 75px;
    height: 75px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 15px;
}

#userCard .avatar img{
    width: 100%;
}

#userCard .nameAndSurname .username{
    font-weight: 300;
    font-size: 17px;
}

#userCard .nameAndSurname a{
    color: #555;
}

#userCard .nameAndSurname .nickname{
    color: #969393;
}

#userCard .statCounters{
    border-top: 1px solid #eee;
    margin-top: 10px;
}

#userCard .statCounters a{
    text-decoration: none;
}

#userCard .statCounters a:hover .dataCounters{
    color: #cc1717;
}

#userCard .labelCounters,
#userCard .dataCounters{
    display: block;
    text-align: center;
    transition: all 300ms;
}

#userCard .labelCounters{
    font-weight: bold;
    color: #555;
}

#userCard .dataCounters{
    font-weight: bold;
    color: green;
}

#userCard .userStatCounter{
    float: left;
    padding-left: 18px;
    padding-right: 18px;
    margin-top: 10px;
    border-right: 2px solid #eee; 
}

#userCard .userStatCounter:first-child{
    padding-left: 6px;
}

/* don't show last sepparation bar at the right */
#userCard .userStatCounter:last-child{
    border: none;
}

/* TIMELINE */
#publications{
    min-height: 500px;
}

#publications .date{
    color: gray;
}

.item-publication .userImage{
    width: 75px;
    height: 75px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 15px;
}

.item-publication .userImage img{
    width: 120px;
}

.item-publication .userName{
    margin-top: 10px;
}